.head{
    display: inline;
    -webkit-text-stroke: 1.5px black;
}
.logo{
    width: 49px;
    margin-left: 30px;
}
header{
    padding: 2px;
}
.side{
    list-style-type: none;
    text-decoration: none;
}
.bar{
    margin-top: 50px;
    margin-left: 20px;
}
.pos{
    text-decoration: none;
}
.sidebar{
    position: fixed;
    background-color: #292828;
    height: 100%;
    width: 223px;
}
body{
    background-color: #f1f2f5;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main-content {
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 20px;
    margin-left: 250px;
    margin-top: 5dvh;
}
.table-responsive-lg {
    max-width: 500px; 
    width: 100%;
}
